<strong>Land use</strong>
<ul>
    <li class="tooltipper" data-tippy-content=""><b style="color:#e78ac3; opacity:6.5; vertical-align:text-top;">⬤</b>&nbsp;Indigenous</li>
    <li class="tooltipper" data-tippy-content=""><b style="color:#66c2a5; opacity:6.5; vertical-align:text-top;">⬤</b>&nbsp;Private and pastoral</li>
    <li class="tooltipper" data-tippy-content=""><b style="color:#8da0cb; opacity:6.5; vertical-align:text-top;">⬤</b>&nbsp;Public</li>
    <li class="tooltipper" data-tippy-content=""><b style="color:#fb6a4a; opacity:6.5; vertical-align:text-top;">⬤</b>&nbsp;Crown Leases</li>
    <li class="tooltipper" data-tippy-content=""><b style="color:#8b5aa9; opacity:6.5; vertical-align:text-top;">⬤</b>&nbsp;Unknown</li>
</ul>
