<div class="land" style="width: 100%;">

	<div id="land-filter">

		<div class="filters">

			<div class="rating-filter filter">
				<div class="filter-label">
					Show pastoral leases coloured by: <span class="selection-name">Local or overseas ownership</span>
				</div>
				<select id="flicker">
					<option selected value="Local or overseas ownership">Local or overseas ownership</option>
					<option value="Top 20 pastoral owners">Top 20 pastoral owners</option>
				</select>
			</div>

		</div>
	</div>

	<div id="landContainer"></div>

</div>