<div class="interactive-wrapper">

	<div class="who">

		<div class="row bigNumbers three">

			<div class="numWrapper">
				<p style="color: #66c2a5;">Private and pastoral<sup>1</sup></p><span style="color: #66c2a5;">54.5%</span>
			</div>

			<div class="numWrapper">
				<p style="color: #8da0cb;">Public</p><span style="color: #8da0cb;">14.9%</span>
			</div>

			<div class="numWrapper">
				<p style="color: #e78ac3;">Indigenous<sup>2</sup></p><span style="color: #e78ac3;">26.6% - 54.17%</span>
			</div>

			<!-- <div class="numWrapper">
				<p style="color: #e78ac3;">Indigenous</p><span style="color: #e78ac3;">26.6% - 54.17%</span>
			</div> -->

		</div>


	</div>

    
    <div class="map_container">

        <div class="map" id="map"></div>

    </div>
    
</div>