<div class="interactive-wrapper">

	<div class="who">

		<div class="row bigNumbers three">

			<div class="numWrapper">
				<p style="color: #66c2a5;">Private and pastoral</p><span style="color: #66c2a5;">53%</span>
			</div>

			<div class="numWrapper">
				<p style="color: #8da0cb;">Public</p><span style="color: #8da0cb;">30%</span>
			</div>

			<div class="numWrapper">
				<p style="color: #e78ac3;">Indigenous</p><span style="color: #e78ac3;">17%</span>
			</div>

		</div>


	</div>

    
    <div class="map_container">

        <div class="map" id="map"></div>

    </div>
    
</div>