@import "mq";
@import "palette";

.interactive-share {
	height: 32px;
	width: 32px;
	border-radius: 34px;
	display: inline-block;
	border: none;
	cursor: pointer;
	outline: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 26px;
	border: 1px solid $primary;
	background-color: transparent;
}
.interactive-share[data-network='facebook'] {
	background-image: url("<%= path %>/facebook.svg");
	margin-right: 5px;
}
.interactive-share[data-network='twitter'] {
	background-image: url("<%= path %>/twitter.svg");
	margin-right: 5px;
}
.interactive-share[data-network='email'] {
	background-image: url("<%= path %>/mail.svg");
}
.interactive-share:hover {
	cursor: pointer;
	opacity: 0.9;
}
.interactive-share {
	height: 32px;
	width: 32px;
	border-radius: 34px;
	display: inline-block;
	border: none;
	cursor: pointer;
	outline: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 26px;
	border: 1px solid $primary;
	background-color: transparent;
}

.interactive-share:hover {
	cursor: pointer;
	opacity: 0.9;
}