
.who, .for {
	background-color: black;

	.headline-container h3 {
		font-family: "Guardian Titlepiece", "Guardian Headline Full", "Guardian Headline", "Guardian Egyptian Web", Georgia, serif;
		font-size: 21px;
		margin: 6px;
	}
	.bigNumbers {
		display: -webkit-flex;
		display: flex;
		width: 100%;
		border-top: 2px solid #c70000;
	}
	.labelBottom {
		fill: #767676;
	}
	.three .numWrapper {
		width: 33%;
	}
	.numWrapper {
		padding: 6px 0 6px 6px;
		border-bottom: 1px solid #dcdcdc;
		border-right: 1px solid #dcdcdc;
	}
	.numWrapper span {
		font-family: "Guardian Titlepiece", "Guardian Headline Full", "Guardian Headline", "Guardian Egyptian Web", Georgia, serif;
		font-variant-numeric: lining-nums;


		@include mq($until: mobile) {
			font-size: 28px;
			line-height: 30px;
		}
		
		@include mq($from: mobile, $until: mobileLandscape) {
			font-size: 28px;
			line-height: 30px;
		}
		
		@include mq($from: mobileLandscape, $until: tablet) {
			font-size: 40px;
			line-height: 36px;
		}
		
		@include mq($from: tablet, $until: desktop) {
			font-size: 40px;
			line-height: 36px;
		}
		
		@include mq($from: desktop, $until: leftCol) {
			font-size: 48px;
			line-height: 40px;
		}
		
		@include mq($from: leftCol, $until: wide) {
			font-size: 48px;
			line-height: 40px;
		}
		
		@include mq($from: wide) {
			font-size: 48px;
			line-height: 40px;
		}
		

	}
	.numWrapper p {
		font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		margin: 0;
		font-weight: 700;

		@include mq($until: mobile) {
			font-size: 8px;
		}
		
		@include mq($from: mobile, $until: mobileLandscape) {
			font-size: 10px;
		}
		
		@include mq($from: mobileLandscape, $until: tablet) {
			font-size: 10px;
		}
		
		@include mq($from: tablet, $until: desktop) {
			font-size: 12px;
		}
		
		@include mq($from: desktop, $until: leftCol) {
			font-size: 14px;
		}
		
		@include mq($from: leftCol, $until: wide) {
			font-size: 14px;
		}
		
		@include mq($from: wide) {
			font-size: 14px;
		}
	

	}

	.dosesLabel {
		font-size: 20px;
		font-weight: 700;
		fill: #005689;
	}
	.chartSans {
		font-size: 12px;
		color: #767676;
		font-family: 'Guardian Text Sans Web', 'Agate Sans', sans-serif;
	}
	.notes {
		font-family: 'Guardian Text Sans Web', Arial;
		font-size: 12px;
		color: #767676;
		padding: 2px;
	}
	a {
		color: #ab0613;
		text-decoration: none!important;
		border-bottom: .0625rem solid #dcdcdc;
		transition: border-color .15s ease-out;
	}
	a:hover {
		border-color: #ab0613;
	}

}

